@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Merriweather:wght@300;400;700&display=swap'); /* site fonts */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/Neuland-Inline-stylesheet.css"); /* Neuland Inline */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/Papyrus-Regular-stylesheet.css"); /* Papyrus */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/mistral-style.css"); /* Mistral */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/CurlzMT-stylesheet.css"); /* Curlz MT */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/Betelgeuse-stylesheet.css"); /* Betelgeuse */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/ComicSansMS-stylesheet.css"); /* Comic Sans (btw i love this font) */
@import url("https://cdn.jsdelivr.net/gh/null-austin/pb-assets/TimesNewRoman-stylesheet.css"); /* Times New Roman */

body{
    font-family: "Montserrat", sans-serif;
}
.neuland{
    font-family: "Neuland";
}
.papyrus{
    font-family: "Papyrus";
}
.mistral{
    font-family: "Mistral";
}
.curlzmt{
    font-family: "Curlz MT";
}
.betelgeuse{
    font-family: "Betelgeuse";
}
.comicsans{
    font-family: "Comic Sans MS";
}
.timesnewroman{
    font-family: 'Times New Roman';
}